<main id="main">
    <section class="allpadding clr tallsection">
        <div class="restrict-wide">
            <div class="centered">
                <h1 class="green-title">綠誌</h1>
                <div class="direct-line space"></div>
                <div class="three-column clr page">
                    <div class="blog-wrap">
                        <a href="@Url.Action("Recipes", "MainMs")" class="article-single centered">
                            <div class="article-pic"><img src="~/content/images/section/blog1.png"></div>
                            <h2>美味料理</h2>
                        </a>
                        <div class="centered"><a href="@Url.Action("Recipes", "MainMs")" class="outline-btn">More</a></div>
                    </div>
                    <div class="blog-wrap">
                        <a href="@Url.Action("Issues", "MainMs")" class="article-single centered">
                            <div class="article-pic"><img src="~/content/images/section/life1.png"></div>
                            <h2>健康生活</h2>
                        </a>
                        <div class="centered"><a href="@Url.Action("Issues", "MainMs")" class="outline-btn">More</a></div>
                    </div>
                    <div class="blog-wrap">
                        <a href="@Url.Action("Blogs", "MainMs")" class="article-single centered">
                            <div class="article-pic"><img src="~/content/images/section/blog2.png"></div>
                            <h2>部落客分享</h2>
                        </a>
                        <div class="centered"><a href="@Url.Action("Blogs", "MainMs")" class="outline-btn">More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>