@model Issues
@{
    var issueotherdatas = (IEnumerable<Issues>)ViewBag.Issueothers;               
}

<main id="main">
    <section class="restrict-wide allpadding">
        <div class="locate">
            <p><a href="@Url.Action("Issues", new { p = ViewBag.pageNumber })" class="descript">健康生活/</a><a href="javascript:;" class="descript main">@Model.title</a></p>
        </div>
    </section>
    <section class="allpadding clr section">
        <div class="restrict-wide">
            <div class="article-left none-copy" oncopy="return false;">
                <div class="timeline">
                    <h1>@Model.title</h1>
                    <div class="share inline">
                        @Html.Partial("_Addthis", new ViewDataDictionary { { "url", Model.shortener }, { "title", Model.title } })
                    </div>
                    <p class="inline">@Model.createdate.ToString("yyyy-MM-dd")</p>
                </div>
                <section class="allsection">
                    @Html.Raw(Model.intro)
                </section>
                <div class="centered more"><a href="@Url.Action("Issues", "MainMs", new { p = ViewBag.pageNumber })" class="outline-btn">返回</a></div>
            </div>
            <div class="article-right">
                <div class="other">
                    <h2>其他文章</h2>
                </div>
                @foreach (Issues entity in issueotherdatas)
                {
                    <a href="@Url.Action("IssueDetail", "MainMs", new { issuetitle = entity.title })" class="other-article">
                        <img src="@(ViewBag.BlobUrl + entity.photo)">
                        <p class="centered">@entity.title</p>
                    </a>
                }
            </div>
        </div>
    </section>
    <div class="centered more btn-show"><a href="@Url.Action("Issues", "MainMs", new { p = ViewBag.pageNumber })" class="outline-btn">返回</a></div>
    @if (Model.Products.Count() > 0)
    {
        <section class="gray-bg allsection">
            <div class="restrict-wide allpadding">
                <div class="adstitle">
                    <h2 class="main">購買相關商品</h2>
                </div>
                <div class="responsive promoteSlider clr">
                    @foreach (Products product in Model.Products.Where(a => a.isdisabled == false).OrderByDescending(o => o.sort))
                    {
                        @Html.Partial("_PartialProduct", product, new ViewDataDictionary { { "promote-sliding", true }, { "bloburl", ViewBag.BlobUrl } })
                    }
                </div>
            </div>
        </section>
    }
    @if (Model.Recipes.Count() > 0)
    {
        <section class="allsection">
            <div class="restrict-wide allpadding">
                <div class="adstitle">
                    <h2 class="main">查看食譜</h2>
                </div>
                <div class="three-column clr">
                    @foreach (Recipes recipe in Model.Recipes.Take(3))
                    {
                        <a href="@Url.Action("RecipeDetail", "MainMs", new { recipeid = recipe.recipeid })" class="blog-wrap">
                            <div class="article-single centered">
                                <div class="article-pic"><img src="@(ViewBag.BlobUrl + recipe.rphoto)" alt="@recipe.title"></div>
                                <div class="article-title">@recipe.title</div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </section>
    }
</main>