@model Members
@{
    var citydatas = (IEnumerable<string>)ViewBag.Citys;
}

<main id="main">
    <section>
        <div class="member-banner"><img src="~/content/images/section/order.jpg"></div>
    </section>
    <section class="allpadding clr section">
        <div class="restrict-wide">
            <div class="centered">
                <h1>會員中心</h1>
                <div id="tabber">
                    <div class="tabber-selectors">
                        <ul>
                            <li><a href="@Url.Action("Orders", "MemberMs")" class="tabber-anchor">訂單查詢</a></li>
                            <li><a href="@Url.Action("Mylists", "MemberMs")" class="tabber-anchor">追蹤清單</a></li>
                            <li><a href="@Url.Action("EditProfile", "MemberMs")" class="tabber-anchor active">會員資料</a></li>
                            <li><a href="@Url.Action("EditPassword", "MemberMs")" class="tabber-anchor">修改密碼</a></li>
                        </ul>
                    </div>
                    <div class="direct-line"></div>
                    <div class="restrict-tiny allpadding centered shopflow">
                        <form id="form" class="formstyle">
                            <h2 class="left">會員資料</h2>
                            <div class="information">
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status"><label>姓名</label></div>
                                        <div class="vertify"><input type="text" id="name" name="name" class="input" value="@Model.name" data-rule-required="true" data-msg-required="此為必填欄位" data-rule-maxlength="20" data-msg-maxlength="請勿超過20個字元"></div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status"><label>手機號碼</label></div>
                                        <div class="vertify">@Model.mobile</div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status"><label>電子郵件</label></div>
                                        <div class="vertify"><input type="text" id="email" name="email" class="input" value="@Model.email" data-rule-email="true" data-msg-email="Email格式錯誤" data-rule-required="true" data-msg-required="此為必填欄位" data-rule-maxlength="150" data-msg-maxlength="請勿超過150個字元"></div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status">
                                            <label for="gender"><span class="must"> </span>性別</label>
                                        </div>
                                        <div class="vertify">
                                            <div style="margin-right:2em;" class="address city">
                                                <input type="radio" name="gender" value="1" @(Model.gender == 1 ? "checked" : "")> 男生
                                            </div>
                                            <div class="address">
                                                <input type="radio" name="gender" value="0" @(Model.gender == 0 ? "checked" : "")> 女生
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status">
                                            <label><span class="must"> </span>生日</label>
                                        </div>
                                        <div class="vertify">
                                            <div class="select-style birth">
                                                <select id="year" name="year">
                                                    <option value="">請選擇年</option>
                                                    @for (int y = DateTime.Now.Year; y >= DateTime.Now.Year - 80; y--)
                                                    {
                                                        <option value="@y"@(Model.birthday != null ? (Model.birthday.Value.Year.ToString() == y.ToString() ? "selected" : "") : "")>@y</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="select-style birth">
                                                <select id="month" name="month">
                                                    <option value="">請選擇月</option>
                                                    @for (int m = 1; m <= 12; m++)
                                                    {
                                                        <option value="@m" @(Model.birthday != null ? (Model.birthday.Value.Month.ToString() == m.ToString() ? "selected" : "") : "")>@m</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="select-style birth">
                                                <select id="day" name="day">
                                                    <option value="">請選擇日</option>
                                                    @for (int d = 1; d <= 31; d++)
                                                    {
                                                        <option value="@d"@(Model.birthday != null ? (Model.birthday.Value.Day.ToString() == d.ToString() ? "selected" : "") : "")>@d</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status"><label>聯絡地址</label></div>
                                        <div class="vertify">
                                            <div class="select-style address city">
                                                <select id="city" name="city" class="selectcity" data-rule-required="true" data-msg-required="此為必填欄位">
                                                    <option value="">請選擇縣市</option>
                                                    @foreach (string city in citydatas)
                                                    {
                                                        <option>@city</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="select-style address">
                                                <select id="area" name="area" class="selectarea" data-rule-required="true" data-msg-required="此為必填欄位">
                                                    <option value="">鄉鎮市區</option>
                                                </select>
                                                <input type="hidden" id="zipcodeid" name="zipcodeid" value="" />
                                            </div>
                                            <input type="text" id="address" name="address" value="@Model.address" class="input" data-rule-required="true" data-msg-required="此為必填欄位" data-rule-maxlength="150" data-msg-maxlength="請勿超過150個字元">
                                            <input type="hidden" id="zipcodefullid" value="@(Model.Zipcodes.city + "," + Model.zipcodeid)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="choose-wrap">
                                <div class="choose-left"><a href="javascript:;" class="btn basic" id="btnSubmit">修改個人資料</a></div>
                            </div>
                        </form>
                    </div>
                    @*<div class="restrict-tiny allpadding">
                        <h2 class="left">折扣優惠</h2>
                        <div class="tablescroll">
                            <table>
                                <tr>
                                    <th>活動名稱</th>
                                    <th>折扣代碼</th>
                                    <th>折扣金額</th>
                                    <th>使用期限</th>
                                </tr>
                                <tr>
                                    <td>App新年刮刮樂</td>
                                    <td>QC123</td>
                                    <td>NT$ 50</td>
                                    <td class="main">20106/09/01</td>
                                </tr>
                                <tr>
                                    <td>App新年刮刮樂</td>
                                    <td>QC123</td>
                                    <td>NT$ 50</td>
                                    <td class="main">20106/09/01</td>
                                </tr>
                            </table>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script>
        $(function () {
            $(".selectcity").change(function () {
                var obj = $(this);
                var parentobj = obj.parent().parent();
                var targetobj = parentobj.find(".selectarea");
                $.post("@Url.Action("GetZipcodeByCity", "Ajax")", {
                    'city': $(this).val()
                }, function (res) {
                    if (defaultValue) {
                        targetobj.find('option').remove().end().append(res).val(fullIdPath[1]).trigger('change');
                    } else {
                        targetobj.find('option').remove().end().append(res).trigger('change');
                    }
                });
            });

            $('.selectarea').change(function () {
                var obj = $(this);
                obj.next("input[type='hidden']").val(obj.val());
            });

            var defaultValue = false;
            var fullIdPath = [];

            if (0 < $.trim($('#zipcodefullid').val()).length) {
                fullIdPath = $('#zipcodefullid').val().split(',');
                defaultValue = true;
            }

            if (defaultValue) {
                $('#city').val(fullIdPath[0]).trigger('change');
            }

            var validator = $('#form').validate();

            $("#btnSubmit").click(function () {
                var obj = $('#form');

                if (obj.valid()) {

                    $.post("@Url.Action("EditProfile", "Ajax")", obj.serialize(), function (res) {
                        if(res.code == "200")
                        {
                            $.alert({
                                title: '提示訊息',
                                content: '更新成功！',
                                boxWidth: '25%',
                                useBootstrap: false,
                                type: 'green',
                            });
                            return false;
                        } 
                    });
                }
            });
        });
    </script>
}