@model Members

<main id="main">
    <section>
        <div class="member-banner"><img src="~/content/images/section/order.jpg"></div>
    </section>
    <section class="allpadding clr section">
        <div class="restrict-wide">
            <div class="centered">
                <h1>會員中心</h1>
                <div id="tabber">
                    <div class="tabber-selectors">
                        <ul>
                            <li><a href="@Url.Action("Orders", "MemberMs")" class="tabber-anchor">訂單查詢</a></li>
                            <li><a href="@Url.Action("Mylists", "MemberMs")" class="tabber-anchor">追蹤清單</a></li>
                            <li><a href="@Url.Action("EditProfile", "MemberMs")" class="tabber-anchor">會員資料</a></li>
                            <li><a href="@Url.Action("EditPassword", "MemberMs")" class="tabber-anchor active">修改密碼</a></li>
                        </ul>
                    </div>
                    <div class="direct-line"></div>
                    <div class="restrict-tiny allpadding centered shopflow">
                        <form id="form" class="formstyle">
                            <h2 class="left">修改密碼</h2>
                            <div class="information">
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status"><label>新密碼</label></div>
                                        <div class="vertify"><input type="password" id="password" name="password" class="input" data-rule-required="true" data-msg-required="此為必填欄位" data-rule-maxlength="20" data-msg-maxlength="請勿超過20個字元"></div>
                                    </div>
                                </div>
                                <div class="controlgroup">
                                    <div class="controls">
                                        <div class="status"><label>確認密碼</label></div>
                                        <div class="vertify"><input type="password" id="cpassword" name="cpassword" class="input" data-rule-required="true" data-msg-required="此為必填欄位" data-rule-maxlength="20" data-msg-maxlength="請勿超過20個字元" data-rule-equalto="#password" data-msg-equalto="密碼錯誤"></div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="choose-wrap">
                                <div class="choose-left"><a href="javascript:;" class="btn basic" id="btnSubmit">修改密碼</a></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section scripts{
    <script>
        $(function () {
            var validator = $('#form').validate();

            $("#btnSubmit").click(function () {
                var btn = $(this);

                btn.prop('disabled', true);

                var obj = $('#form');

                if (obj.valid()) {

                    $.post("@Url.Action("EditPassword", "Ajax")", obj.serialize(), function (res) {
                        if(res.code == "200")
                        {
                            $.alert({
                                title: '提示訊息',
                                content: '更新成功！',
                                boxWidth: '25%',
                                useBootstrap: false,
                                type: 'green',
                            });

                            btn.prop('disabled', false);
                            return false;
                        } else {
                            $.alert({
                                title: '提示訊息',
                                content: '密碼錯誤！',
                                boxWidth: '25%',
                                useBootstrap: false,
                                type: 'red',
                            });

                            btn.prop('disabled', false);
                            return false;
                        }
                    });
                }
            });
        });
    </script>
}