@model Orders
@{
    int p = 0;              
}

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                        <h2>編輯訂單</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget content -->
                        <div class="widget-body">

                            <form id="form" method="post" class="form-horizontal" action="@Url.Action("EditOrders", "OrderMs", new { p = ViewBag.pageNumber })"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                                @if (Html.ValidationSummary(true) != null)
                                {
                                    <div class="alert alert-danger alert-block">
                                        <h4 class="alert-heading">Error!</h4>
                                        @Html.ValidationSummary(true)
                                    </div>
                                }

                                @Html.HiddenFor(model => model.orderid)

                                    <fieldset>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label" for="ordertype">訂單類型</label>
                                            <div class="col-lg-3">
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.ordertype, 1)
                                                    線上單
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.ordertype, 2)
                                                    線下單
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.ordertype, 3)
                                                    自用單
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.ordertype, 4)
                                                    預購
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.ordertype, 5)
                                                    公關
                                                </label>
                                            </div>

                                            <label class="col-lg-1 control-label" for="warehouseid">出貨倉</label>
                                            <div class="col-lg-2">
                                                @Html.DropDownListFor(model => model.warehouseid, null, "--請選擇出貨倉--", new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請選擇出貨倉" } })
                                                @Html.ValidationMessageFor(model => model.warehouseid)
                                            </div>

                                            <label class="col-lg-1 control-label" for="logisticid">物流</label>
                                            <div class="col-lg-2">
                                                @Html.DropDownListFor(model => model.logisticid, null, "--請選擇物流--", new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請選擇物流" } })
                                                @Html.ValidationMessageFor(model => model.logisticid)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label" for="paystatus">付款狀態</label>
                                            <div class="col-lg-3">
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paystatus, 0, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    未付款
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paystatus, 1, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    已付款
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paystatus, 2, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    退款
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paystatus, 3)
                                                    免付款
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paystatus, 4)
                                                    取消
                                                </label>
                                            </div>

                                            <label class="col-lg-1 control-label" for="paydate">付款日期</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.paydate, "{0:yyyy-MM-dd}", new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label" for="deliverstatus">出貨狀態</label>
                                            <div class="col-lg-3">
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.deliverstatus, 0, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    未出貨
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.deliverstatus, 4, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    待出貨
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.deliverstatus, 1, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    已出貨
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.deliverstatus, 2, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    退貨
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.deliverstatus, 3)
                                                    取消
                                                </label>
                                            </div>

                                            <label class="col-lg-1 control-label" for="deliverdate">出貨日期</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.deliverdate, "{0:yyyy-MM-dd}", new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">訂單編號</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.ordercode, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">訂單日期</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.orderdate, "{0:yyyy-MM-dd}", new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">配送時段</label>
                                            <div class="col-lg-5">
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.recivertime, 1, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    上午9-12時
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.recivertime, 2, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    下午12-17時
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.recivertime, 3, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    晚上17-20時
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.recivertime, 4, new Dictionary<string, object>() { { "disabled", "disabled" } })
                                                    不指定
                                                </label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">購買人姓名</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.Members.name, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">購買人電話</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.Members.mobile, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">購買人Email</label>
                                            <div class="col-lg-3">
                                                @Html.TextBoxFor(model => model.Members.email, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">收件人姓名</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.recivername, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">收件人電話</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.recivermobile, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">收件人地址</label>
                                            <div class="col-lg-5">
                                                <input type="text" class="form-control" value="@Model.Zipcodes.zipcode @Model.Zipcodes.city @Model.Zipcodes.area @Model.reciveraddress" disabled />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">發票類型</label>
                                            <div class="col-lg-4">
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.invoicetype, 1)
                                                    二聯式
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.invoicetype, 2)
                                                    捐贈
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.invoicetype, 3)
                                                    三聯式
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.invoicetype, 4)
                                                    免開
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.invoicetype, 5)
                                                    POS機
                                                </label>
                                            </div>

                                            <label class="col-lg-1 control-label">發票號碼</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.invoicecode, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>

                                            <label class="col-lg-1 control-label">公司統編</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.companynumber, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>

                                            <label class="col-lg-1 control-label">公司抬頭</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.companytitle, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">付款方式</label>
                                            <div class="col-lg-3">
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 1)
                                                    線上刷卡
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 2)
                                                    貨到付款
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 3)
                                                    ATM
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 4)
                                                    免付款
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 5)
                                                    現金
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 6)
                                                    電匯
                                                </label>
                                                <label class="radio radio-inline">
                                                    @Html.RadioButtonFor(model => model.paytype, 7)
                                                    支票
                                                </label>
                                                @if (Model.paytype == (int)EnumPayType.信用卡線上刷卡 && Model.paystatus == (int)EnumPayStatus.未付款)
                                                {
                                                    <a class="btn btn-primary" href="javascript:;" data-toggle="modal" data-target="#creditcardModal">
                                                        刷卡
                                                    </a>
                                                }
                                            </div>

                                            <label class="col-lg-1 control-label">運費</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.freight, new Dictionary<string, object>() { { "class", "form-control" }, { "readonly", "readonly" } })
                                            </div>

                                            <label class="col-lg-1 control-label">折扣金額</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.discount, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>

                                            <label class="col-lg-1 control-label">購買金額</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.total, new Dictionary<string, object>() { { "class", "form-control" }, { "readonly", "readonly" } })
                                            </div>

                                            <label class="col-lg-1 control-label">總金額</label>
                                            <div class="col-lg-1">
                                                <input type="text" class="form-control" id="totalprice" value="@(Model.freight + Model.total - Model.discount)" disabled />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">虛擬帳號</label>
                                            <div class="col-lg-2">
                                                @Html.TextBoxFor(model => model.codeatm, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">折扣碼</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.Discounts.discountcode, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>

                                            <label class="col-lg-1 control-label">備註</label>
                                            <div class="col-lg-2">
                                                @Html.TextAreaFor(model => model.note, 3, 40, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>

                                            <label class="col-lg-1 control-label">提單號碼</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.trackingnumber, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>

                                            <label class="col-lg-1 control-label">信用卡末四碼</label>
                                            <div class="col-lg-1">
                                                @Html.TextBoxFor(model => model.lastpan4, new Dictionary<string, object>() { { "class", "form-control" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-lg-1 control-label">客戶備註</label>
                                            <div class="col-lg-2">
                                                @Html.TextAreaFor(model => model.remark, 3, 40, new Dictionary<string, object>() { { "class", "form-control" }, { "disabled", "disabled" } })
                                            </div>
                                        </div>

                                    </fieldset>

                                <fieldset>

                                    <div class="widget-body-toolbar">

                                        <div class="row">

                                            <div class="form-inline">
                                                <div class="col-sm-12 text-right">
                                                    <a class="btn btn-success btn-labeled" href="javascript:;" id="addproduct"> <span class="btn-label"><i class="fa fa-plus"></i></span>新增產品 </a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="table-responsive">
                                        <table id="dt_basic" class="table table-bordered producttable">
                                            <thead>
                                                <tr>
                                                    <th width="10%">產品編號</th>
                                                    <th>產品名稱</th>
                                                    <th class="text-center" width="8%">數量</th>
                                                    <th class="text-center" width="7%">折扣</th>
                                                    <th class="text-center" width="7%">單價</th>
                                                    <th class="text-center" width="7%">小計</th>
                                                    <th class="text-center" width="5%">刪除</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach(Orderdetails orderdetail in Model.Orderdetails)
                                                {
                                                <tr>
                                                    <td><input type="text" name="orderdetails[@p].productnum" class="form-control productnum" value="@orderdetail.Products.productnum" /><input type="hidden" name="orderdetails[@p].productid" value="@orderdetail.Products.productid" /><input type="hidden" name="orderdetails[@p].isgift" class="isgift" value="@orderdetail.isgift" /><input type="hidden" name="orderdetails[@p].orderdetailid" value="@orderdetail.orderdetailid" /></td>
                                                    <td>
                                                        @orderdetail.Products.title @orderdetail.Products.capacity @(orderdetail.isgift == 1 ?"(贈品)":"")
                                                        @if (orderdetail.Products.isset)
                                                        {
                                                            foreach (Setproducts setproduct in orderdetail.Products.Setproducts)
                                                            {
                                                                <br><small class="text-muted">@setproduct.Products1.title @setproduct.Products1.capacity @setproduct.qty</small>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input type="text" name="orderdetails[@p].qty" class="form-control text-center productqty" value="@orderdetail.qty" />
                                                            <div class="input-group-btn">
                                                                <a class="btn btn-primary" data-toggle="modal" data-target="#warehousestockModal">...</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group">
                                                            <input type="text" name="orderdetails[@p].discount" class="form-control text-center productdiscount" value="@orderdetail.discount" />
                                                            <span class="input-group-addon">折</span>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" name="orderdetails[@p].price" class="form-control text-center productprice" value="@orderdetail.price" /><input type="hidden" name="oprice" class="oprice" value="@orderdetail.Products.price" /></td>
                                                    <td><input type="text" name="orderdetails[@p].subtotal" class="form-control text-center productsubtotal" value="@orderdetail.subtotal" readonly /></td>
                                                    <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>
                                                </tr>
                                                    p++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-6 text-left">
                                            @if ((Model.invoicetype == (int)EnumInvoiceType.二聯式 || Model.invoicetype == (int)EnumInvoiceType.三聯式) && Model.invoicestatus == (int)EnumInvoiceStatus.未開)
                                            {
                                                <a class="btn btn-success" href="javascript:;" id="btnInv" data-orderid="@Model.orderid">
                                                    開立發票
                                                </a>
                                            }
                                            @if (Model.invoicetype != (int)EnumInvoiceType.POS機 && Model.invoicestatus == (int)EnumInvoiceStatus.已開)
                                            {
                                                <a class="btn btn-default" href="javascript:;" id="btnCancelInv" data-orderid="@Model.orderid">
                                                    發票作廢
                                                </a>
                                            }
                                            <a class="btn btn-primary" href="@Url.Action("ExportOrders", "OrderMs", new { orderid = Model.orderid })">
                                                列印出貨明細
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-default" href="@Url.Action("Orders", "OrderMs", new { p = ViewBag.pageNumber })">
                                                返回
                                            </a>                                            
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                更新
                                            </button>
                                            <a class="btn btn-success" href="javascript:;" id="btnSubmitDeliver" data-orderid="@Model.orderid">
                                                <i class="fa fa-check"></i>
                                                提交待出貨
                                            </a>  
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>

<!-- Modal -->
<div class="modal fade" id="creditcardModal" tabindex="-1" role="dialog" aria-labelledby="creditcardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="creditcardModalLabel">刷卡確認</h4>
            </div>
            <div class="modal-body">

                <div class="row">

                    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <!-- Widget ID (each widget will need unique ID)-->
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false">

                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>請確認刷卡</h2>
                            </header>

                            <!-- widget div-->
                            <div>

                                <!-- widget content -->
                                <div class="widget-body">

                                    <form id="cardForm" method="post" action="https://www.focas.fisc.com.tw/FOCAS_WEBPOS/online/">
                                        <input type="hidden" name="merID" value="45889852" />
                                        <input type="hidden" name="MerchantID" value="007458898529001" />
                                        <input type="hidden" name="TerminalID" value="90010001" />
                                        <input type="hidden" name="lidm" value="@Model.ordercode.Trim()" />
                                        <input type="hidden" name="purchAmt" id="purchAmt" value="@(Model.freight + Model.total - Model.discount)" />
                                        <input type="hidden" name="AuthResURL" value="https://backend.tfoodies.com/Main/CardResult" />
                                        <input type="hidden" name="enCodeType" value="UTF-8" />
                                        <input type="hidden" name="PayType" value="0" />
                                        <input type="hidden" name="AutoCap" value="1" />
                                        <fieldset>

                                            <div class="form-group has-error">

                                                <div class="col-lg-12">

                                                    <span class="help-block"><i class="fa fa-warning"></i> 點擊「確認」按鈕，系統將導入信用卡刷卡頁面！</span>

                                                </div>
                                            </div>

                                        </fieldset>

                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary" type="submit">
                                                        <i class="fa fa-save"></i>
                                                        確認
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    </form>

                                </div>
                                <!-- end widget content -->

                            </div>
                            <!-- end widget div -->

                        </div>
                        <!-- end widget -->

                    </article>

                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


@section scripts {
<script>
    function recountRow(obj) {
        var countRow = 0;
        obj.find('tr').each(function () {
            $(this).find("input,textarea").each(function () {
                $(this).attr("name", $(this).attr("name").replace(/\[(\d+)\]/g, "[" + countRow + "]"));
            });
            countRow++;
        });
    }

    function recountSubTotal(obj) {
        var subtotal = 0;
        var qty = obj.find("input.productqty").val();
        var discount = obj.find("input.productdiscount").val();
        var price = obj.find("input.productprice").val();
        var oprice = obj.find("input.oprice").val();

        if (discount != "") {
            discount = "0." + discount;

            price = oprice;
            obj.find("input.productprice").val(price);
            //javascript乘法錯誤 要先乘以10000再除10000
            subtotal = Math.round(qty * price * 10000 * discount / 10000);
        } else {
            subtotal = qty * price;
        }

        return subtotal;
    }

    function recountTotal(obj) {
        var total = 0;
        var freight = 0;
        var totalprice = 0;
        var discount = $("#discount").val();
        var logisticid = $("#logisticid").val();

        obj.find('tr').each(function () {
            total += parseInt($(this).find('input.productsubtotal').val());
        });

        if (logisticid.toUpperCase() == "C9077EFD-059E-4EEF-AA8A-E43093FA8E0B" || logisticid.toUpperCase() == "39F44992-E65C-4F67-B84C-6CD59F3D38BC") {
            freight = 0;
        } else {
            freight = (total < 1500) ? 180 : 0;
        }

        totalprice = parseInt(total) + parseInt(freight) - parseInt(discount);
        $("#freight").val(freight);
        $("#discount").val(discount);
        $("#total").val(total);
        $("#totalprice").val(totalprice);
        $("#purchAmt").val(totalprice);
    }

    function removeValue(obj) {
        obj.find("input").val("");
        obj.find("td:eq(1)").html("");
    }

    $(function () {
        $("#logisticid").change(function () {
            var obj = $("#dt_basic tbody");

            recountTotal(obj);
        });

        $("#warehouseid").change(function () {
            var obj = $('.producttable tbody');
            //obj.empty();
            //$("#addproduct").trigger("click");
        });

        $('#warehousestockModal').on('show.bs.modal', function (e) {
            //$(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            alert($("#warehouseid").val());
        });

        $("#addproduct").click(function () {
            var obj = $('.producttable tbody');
            var countRow = obj.find('tr').length;

            var row = '<tr>';
            row += '<td><input type="text" name="orderdetails[' + countRow + '].productnum" class="form-control productnum" /><input type="hidden" name="orderdetails[' + countRow + '].productid" value="" /><input type="hidden" name="orderdetails[' + countRow + '].isgift" class="isgift" value="0" /><input type="hidden" name="orderdetails[' + countRow + '].orderdetailid" value="00000000-0000-0000-0000-000000000000" /></td>';
            row += '<td></td>';
            row += '<td>';
            row += '<div class="input-group">';
            row += '<input type="text" name="orderdetails[' + countRow + '].qty" class="form-control text-center productqty" />';
            row += '<div class="input-group-btn">';
            row += '<a class="btn btn-primary" data-toggle="modal" data-target="#warehousestockModal">...</a>';
            row += '</div>';
            row += '</div>';
            row += '</td>';
            row += '<td>';
            row += '<div class="input-group">';
            row += '<input type="text" name="orderdetails[' + countRow + '].discount" class="form-control text-center productdiscount" />';
            row += '<span class="input-group-addon">折</span>';
            row += '</div>';
            row += '</td>';
            row += '<td><input type="text" name="orderdetails[' + countRow + '].price" class="form-control text-center productprice" /><input type="hidden" name="oprice" class="oprice" /></td>';
            row += '<td><input type="text" name="orderdetails[' + countRow + '].subtotal" class="form-control text-center productsubtotal" readonly /></td>';
            row += '<td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>';
            row += '</tr>';

            obj.append(row);
        });

        $('.table').on('click', '.del', function () {
            var obj = $(this).parent().parent().parent();
            var countRow = obj.find('tr').length;
            if (countRow > 0) {
                var trobj = $(this).parent().parent();
                var tbobj = trobj.parent();
                trobj.remove();
                recountRow(tbobj);
            }
            recountTotal(obj);
        });

        $('.producttable').on('blur', '.productnum', function (e) {
            var obj = $(this);
            var procode = obj.val();
            var trobj = obj.parents("tr");
            var tbobj = obj.parents("tbody");
            var isavalible = true;

            //***************判斷產品是否重複**************//
            //trobj.addClass("currentrow");
            //tbobj.find("tr").each(function () {
            //    if (!$(this).hasClass("currentrow")) {
            //        var v = $(this).find("input.productnum").val();
            //        if (v == procode) {
            //            isavalible = false;
            //            return false;
            //        }
            //    }
            //});
            //trobj.removeClass("currentrow");
            //*********************************************//

            if (isavalible && procode != "") {
                $.post('@Url.Action("GetProductbyProductnum", "Ajax")', {
                    productnum: procode
                }, function (res) {
                    if (res.code == "200") {
                        trobj.find("td:eq(1)").html(res.title + " " + res.capacity);
                        trobj.find("input").each(function () {
                            if ($(this).attr("name").search(/(productid)/) != -1) $(this).val(res.productid);
                            if ($(this).attr("name").search(/(price)/) != -1) $(this).val(res.price);
                            if ($(this).attr("name").search(/(oprice)/) != -1) $(this).val(res.price);
                            if ($(this).attr("name").search(/(qty)/) != -1) $(this).val(1);
                            if ($(this).attr("name").search(/(subtotal)/) != -1) $(this).val(recountSubTotal(trobj));
                        });
                        recountTotal(tbobj);
                    } else {
                        alert("查無此產品!");
                        removeValue(trobj);
                        recountTotal(tbobj);
                        return;
                    }
                });
            } else {
                alert("產品不可以重複加入!");
                removeValue(trobj);
                recountTotal(tbobj);
                return;
            }
        });

        $('.producttable').on('keyup', '.productqty, .productdiscount, .productprice', function () {
            var obj = $(this);
            var trobj = obj.parents("tr");
            var tbobj = obj.parents("tbody");
            var tdtitle = trobj.find("td:eq(1)");
            var htmltitle = tdtitle.html().replace(" (贈品)", "");

            if (obj.attr("class").search(/(productprice)/) != -1) {
                if (obj.val() == 0) {
                    tdtitle.html(htmltitle + " (贈品)");
                    trobj.find("input.isgift").val(1);
                } else {
                    tdtitle.html(htmltitle);
                    trobj.find("input.isgift").val(0);
                }
            }

            trobj.find("input.productsubtotal").val(recountSubTotal(trobj));
            recountTotal(tbobj);
        });

        $("#btnInv").one("click", function () {
            $.post("@Url.Action("CreateInv", "Ajax")", {
                'orderid': $(this).data('orderid')
            },
                function (res) {
                    if (res.code == "200") {
                        alert(res.message);
                        location.reload();
                        return;
                    } else {
                        alert(res.message);
                        return;
                    }
                });
        });

        $("#btnCancelInv").one("click", function () {
            $.post("@Url.Action("CancelInv", "Ajax")", {
                'orderid': $(this).data('orderid')
            },
            function (res) {
                if (res.code == "200") {
                    alert(res.message);
                    location.reload();
                    return;
                } else {
                    alert(res.message);
                    location.reload();
                    return;
                }
            });
        });

        $("#btnSubmitDeliver").on("click", function () {
            $.post("@Url.Action("ChangeToBeShipped", "Ajax")", {
                'orderid': $(this).data('orderid')
            }, function (res) {
                if (res.code == "200") {
                    alert(res.message);
                    location.reload();
                    return;
                } else {
                    alert(res.message);
                    //location.reload();
                    return;
                }
            });
        });
    });
</script>
}