@model Admins

@{
    var data = ViewBag.Lims as IEnumerable<Lims>;
    var c = 0;
}

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                        <h2>新增管理者</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form id="form" method="post" class="form-horizontal" action="@Url.Action("AddAdmins", "SettingMs", new { p = ViewBag.pageNumber})"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                                @if (Html.ValidationSummary(true) != null)
                                {
                                    <div class="alert alert-danger alert-block">
                                        <h4 class="alert-heading">Error!</h4>
                                        @Html.ValidationSummary(true)
                                    </div>
                                }

                                <fieldset>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label" for="username">帳號</label>
                                        <section class="col-lg-3">
                                            @Html.TextBoxFor(model => model.Username, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入帳號" } })
                                            @Html.ValidationMessageFor(model => model.Username)
                                        </section>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label" for="password">密碼</label>
                                        <section class="col-lg-2">
                                            @Html.PasswordFor(model => model.Password, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入密碼" } })
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </section>
                                    </div>

                                </fieldset>

                                <fieldset>

                                    <table id="dt_basic" class="table table-sm table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="2%"></th>
                                                <th></th>
                                                <th width="6%" class="text-center">瀏覽</th>
                                                <th width="6%" class="text-center">新增</th>
                                                <th width="6%" class="text-center">修改</th>
                                                <th width="6%" class="text-center">刪除</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Lims lim in data)
                                            {
                                                <tr>
                                                    <td colspan="6" class="text-left">@lim.Value</td>
                                                </tr>
                                                foreach (Lims sublim in lim.Lims1)
                                                {
                                                    <tr>
                                                        <td></td>
                                                        <td class="text-left">@sublim.Value</td>
                                                        <td class="text-center">
                                                            <input type="checkbox" name="AdminLims[@c].LimID" value="@sublim.LimID" />
                                                            <input type="hidden" name="AdminLims[@c].LimID" value="false" />
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="checkbox" name="AdminLims[@c].IsAdd" value="true" />
                                                            <input type="hidden" name="AdminLims[@c].IsAdd" value="false" />
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="checkbox" name="AdminLims[@c].IsUpdate" value="true" />
                                                            <input type="hidden" name="AdminLims[@c].IsUpdate" value="false" />
                                                        </td>
                                                        <td class="text-center">
                                                            <input type="checkbox" name="AdminLims[@c].IsDelete" value="true" />
                                                            <input type="hidden" name="AdminLims[@c].IsDelete" value="false" />
                                                        </td>
                                                    </tr>
                                                    c++;
                                                }
                                            }
                                        </tbody>
                                    </table>

                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("Admins", "SettingMs", new { p = ViewBag.pageNumber })">
                                                取消
                                            </a>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                確認
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>