@model Warehouses

<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="well padding-10">

                    <!-- widget content -->
                    <div class="widget-body">

                        @using (Html.BeginForm("SortWarehouses", "inventoryMs", new { p = ViewBag.pageNumber }, FormMethod.Post, new { @id = "form" }))
                        {
                            <div class="widget-body-toolbar">

                                <div class="row">

                                    <div class="form-inline">
                                        <div class="col-sm-10">
                                            @*<button class="btn btn-info btn-labeled" type="submit"> <span class="btn-label"><i class="fa fa-refresh"></i></span>儲存排序</button>*@
                                            @*<a class="btn btn-success btn-labeled" href="@Url.Action("AddWarehouses", "InventoryMs", new { p = ViewBag.pageNumber })"> <span class="btn-label"><i class="fa fa-plus"></i></span>新增倉儲 </a>*@
                                        </div>
                                    </div>

                                </div>

                            </div>

                            if (Html.ValidationSummary(true) != null)
                            {
                                <div class="alert alert-danger alert-block fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-info"></i>
                                    @Html.ValidationSummary(true)
                                </div>
                            }

                            <div class="table-responsive">

                                <table class="table table-bordered table-striped smart-form">
                                    <thead>
                                        <tr>
                                            <th width="8%" class="text-center">分類</th>
                                            <th width="8%" class="text-center">倉庫</th>
                                            <th width="8%" class="text-center">產品編號</th>
                                            <th width="10%">通知號碼</th>
                                            <th width="11%">報單號及項次</th>
                                            <th width="8%" class="text-center">有效日期</th>
                                            <th>產品</th>
                                            <th width="6%" class="text-center">庫存量</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ 
                                            string rowswitch = "off";
                                            string currentnum = string.Empty;
                                        }
                                        @foreach (Warehousestocks entity in Model.Warehousestocks.Where(a => a.quantity_left != 0).OrderBy(a => a.Stocks.Purchasedetails.Products.productnum).ThenBy(a => a.transdate))
                                        {
                                            if(currentnum != entity.Stocks.Purchasedetails.Products.productnum)
                                            {
                                                currentnum = entity.Stocks.Purchasedetails.Products.productnum;
                                                rowswitch = (rowswitch == "off") ? "on" : "off";
                                            }

                                            <tr class="@(rowswitch=="on"?"success":"")">
                                                <td class="text-center">@entity.Stocks.Purchasedetails.Products.Producttypes.title</td>
                                                <td class="text-center">@entity.Warehouses.title</td>
                                                <td class="text-center">@entity.Stocks.Purchasedetails.Products.productnum</td>
                                                <td>@entity.Stocks.noticenumber</td>
                                                <td>@entity.Stocks.declarationnumber @entity.Stocks.item</td>
                                                <td class="text-center">@(entity.Stocks.expiredate != null ? Convert.ToDateTime(entity.Stocks.expiredate).ToString("yyyy-MM-dd") : "")</td>
                                                <td>@entity.Stocks.Purchasedetails.Products.title @entity.Stocks.Purchasedetails.Products.capacity</td>
                                                <td class="text-center"><b>@entity.quantity_left</b></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        }
                    </div>
                    <!-- end widget content -->

                </div>

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section scripts {

}