@model Blogs

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                        <h2>新增部落客分享</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form id="form" method="post" class="form-horizontal" enctype="multipart/form-data" action="@Url.Action("AddBlogs", "HomeMs", new { p = ViewBag.pageNumber })"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                                @if (Html.ValidationSummary(true) != null)
                                {
                                    <div class="alert alert-danger alert-block">
                                        <h4 class="alert-heading">Error!</h4>
                                        @Html.ValidationSummary(true)
                                    </div>
                                }

                                <fieldset>

                                    <legend>部落客分享資料</legend>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label" for="title">標題</label>
                                        <section class="col-lg-3">
                                            @Html.TextBoxFor(model => model.title, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入標題" } })
                                            @Html.ValidationMessageFor(model => model.title)
                                        </section>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label" for="photo">代表圖</label>
                                        <div class="col-lg-2">
                                            <input type="file" class="btn btn-default" id="photo" name="photo"
                                                   data-bv-notempty="true"
                                                   data-bv-notempty-message="請選擇代表圖"
                                                   data-bv-file="true"
                                                   data-bv-file-extension="jpeg,jpg,png,gif"
                                                   data-bv-file-type="image/jpeg,image/png,image/gif"
                                                   data-bv-file-message="代表圖格式不符">
                                            <p class="note">
                                                建議尺寸 : 397 x 296
                                            </p>
                                            @Html.ValidationMessageFor(model => model.photo)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label" for="link">連結</label>
                                        <section class="col-lg-4">
                                            @Html.TextBoxFor(model => model.link, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入連結" } })
                                            @Html.ValidationMessageFor(model => model.link)
                                        </section>
                                    </div>

                                </fieldset>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("Blogs", "HomeMs", new { p = ViewBag.pageNumber })">
                                                取消
                                            </a>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                確認
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
@section scripts {

}