@model Recipes

@{
    var productdatas = (IEnumerable<Products>)ViewBag.Products;
}

<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                        <h2>編輯美味料理</h2>

                        <ul class="nav nav-tabs pull-right in">

                            <li class="active">
                                <a data-toggle="tab" href="#hb"> <span class="hidden-mobile hidden-tablet"> 美味料理資料 </span> </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#hb_1"> <span class="hidden-mobile hidden-tablet"> 食材準備 </span> </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#hb_2"> <span class="hidden-mobile hidden-tablet"> 調味料準備 </span> </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#hb_3"> <span class="hidden-mobile hidden-tablet"> 製作步驟 </span> </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#hb_4"> <span class="hidden-mobile hidden-tablet"> 相關產品 </span> </a>
                            </li>

                        </ul>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form id="form" method="post" class="form-horizontal" enctype="multipart/form-data" action="@Url.Action("EditRecipes", "HomeMs", new { p = ViewBag.pageNumber })"
                                  data-bv-message="This value is not valid"
                                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                                @if (Html.ValidationSummary(true) != null)
                                {
                                    <div class="alert alert-danger alert-block">
                                        <h4 class="alert-heading">Error!</h4>
                                        @Html.ValidationSummary(true)
                                    </div>
                                }

                                @Html.HiddenFor(model => model.recipeid)

                                <div class="tab-content">

                                    <div class="tab-pane active" id="hb">

                                        <fieldset>

                                            <legend>美味料理資料</legend>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="title">標題</label>
                                                <section class="col-lg-3">
                                                    @Html.TextBoxFor(model => model.title, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入標題" } })
                                                    @Html.ValidationMessageFor(model => model.title)
                                                </section>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="duration">時間</label>
                                                <section class="col-lg-3">
                                                    @Html.TextBoxFor(model => model.duration, new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "請輸入幾分鐘" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入時間" } })
                                                    @Html.ValidationMessageFor(model => model.duration)
                                                </section>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="portion">份量</label>
                                                <section class="col-lg-3">
                                                    @Html.TextBoxFor(model => model.portion, new Dictionary<string, object>() { { "class", "form-control" }, { "placeholder", "請輸入幾人份" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入份量" } })
                                                    @Html.ValidationMessageFor(model => model.portion)
                                                </section>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="intro">簡介</label>
                                                <section class="col-lg-5">
                                                    @Html.TextAreaFor(model => model.intro, 3, 40, new Dictionary<string, object>() { { "class", "form-control" } })
                                                </section>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="rphoto">代表圖</label>
                                                <div class="col-lg-2">
                                                    <p>
                                                        <img src="@(ViewBag.BlobUrl + Model.rphoto)" width="auto" style="max-width:150px" />
                                                    </p>
                                                    <input type="file" class="btn btn-default" id="rphoto" name="rphoto"
                                                           data-bv-file="true"
                                                           data-bv-file-extension="jpeg,jpg,png,gif"
                                                           data-bv-file-type="image/jpeg,image/png,image/gif"
                                                           data-bv-file-message="代表圖格式不符">
                                                    <p class="note">
                                                        建議尺寸 : 397 x 296
                                                    </p>
                                                    @Html.ValidationMessageFor(model => model.rphoto)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="photo">大圖</label>
                                                <div class="col-lg-2">
                                                    <p>
                                                        <img src="@(ViewBag.BlobUrl + Model.photo)" width="auto" style="max-width:150px" />
                                                    </p>
                                                    <input type="file" class="btn btn-default" id="photo" name="photo"
                                                           data-bv-file="true"
                                                           data-bv-file-extension="jpeg,jpg,png,gif"
                                                           data-bv-file-type="image/jpeg,image/png,image/gif"
                                                           data-bv-file-message="大圖格式不符">
                                                    <p class="note">
                                                        建議尺寸 : 904 x 508
                                                    </p>
                                                    @Html.ValidationMessageFor(model => model.photo)
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="youtube">Youtube</label>
                                                <section class="col-lg-5">
                                                    @Html.TextBoxFor(model => model.youtube, new Dictionary<string, object>() { { "class", "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.youtube)
                                                </section>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="shortener">短網址</label>
                                                <section class="col-lg-3">
                                                    @Html.TextBoxFor(model => model.shortener, new Dictionary<string, object>() { { "class", "form-control" } }) 
                                                    @Html.ValidationMessageFor(model => model.shortener)
                                                </section>
                                            </div>

                                        </fieldset>

                                        <fieldset>

                                            <legend>SEO資料</legend>
                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="keyword">關鍵字</label>
                                                <section class="col-lg-3">
                                                    @Html.TextBoxFor(model => model.keyword, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入關鍵字" } })
                                                    <p class="note">
                                                        列三個關鍵字即可，不重複同樣的關鍵詞，需與文章內容相符
                                                    </p>
                                                    @Html.ValidationMessageFor(model => model.keyword)
                                                </section>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-lg-2 control-label" for="description">描述</label>
                                                <section class="col-lg-3">
                                                    @Html.TextAreaFor(model => model.description, 3, 60, new Dictionary<string, object>() { { "class", "form-control" }, { "data-bv-notempty", "true" }, { "data-bv-message", "請輸入描述" } })
                                                    <p class="note">
                                                        字數控制在150字內，為文章內容大意，不得照摳文章內容來當敘述，盡量把關鍵字寫在敘述裡，不可以有引號
                                                    </p>
                                                    @Html.ValidationMessageFor(model => model.description)
                                                </section>
                                            </div>

                                        </fieldset>

                                    </div>

                                    <div class="tab-pane" id="hb_1">

                                        <div class="widget-body-toolbar">

                                            <div class="row">

                                                <div class="form-inline">
                                                    <div class="col-sm-12 text-right">
                                                        <a class="btn btn-success btn-labeled" href="javascript:;" id="addingredient"> <span class="btn-label"><i class="fa fa-plus"></i></span>新增食材準備 </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="table-responsive">

                                            <table class="table table-bordered ingredienttable">
                                                <thead>
                                                    <tr>
                                                        <th width="6%" class="text-center">排序</th>
                                                        <th>食材</th>
                                                        <th width="12%" class="text-center">份量</th>
                                                        <th width="5%" class="text-center">刪除</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int x = 0;
                                                    }
                                                    @foreach(Recipeingredients recipeingredient in Model.Recipeingredients.OrderBy(a => a.sort))
                                                    { 
                                                    <tr>
                                                        <td class="text-center">@recipeingredient.sort</td>
                                                        <td><input type="hidden" name="recipeingredients[@x].sort" value="@recipeingredient.sort"><input type="hidden" name="recipeingredients[@x].recipeingredientid" value="@recipeingredient.recipeingredientid"><input type="text" name="recipeingredients[@x].title" class="form-control" value="@recipeingredient.title"></td>
                                                        <td><input type="text" name="recipeingredients[@x].value" class="text-center form-control" value="@recipeingredient.value"></td>
                                                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>
                                                    </tr>
                                                        x++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="hb_2">

                                        <div class="widget-body-toolbar">

                                            <div class="row">

                                                <div class="form-inline">
                                                    <div class="col-sm-12 text-right">
                                                        <a class="btn btn-success btn-labeled" href="javascript:;" id="addseasoning"> <span class="btn-label"><i class="fa fa-plus"></i></span>新增調味料準備 </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="table-responsive">

                                            <table class="table table-bordered seasoningtable">
                                                <thead>
                                                    <tr>
                                                        <th width="6%" class="text-center">排序</th>
                                                        <th>調味料</th>
                                                        <th width="12%" class="text-center">份量</th>
                                                        <th width="5%" class="text-center">刪除</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int y = 0;
                                                    }
                                                    @foreach(Recipeseasonings recipeseasoning in Model.Recipeseasonings.OrderBy(a => a.sort))
                                                    { 
                                                    <tr>
                                                        <td class="text-center">@recipeseasoning.sort</td>
                                                        <td><input type="hidden" name="recipeseasonings[@y].sort" value="@recipeseasoning.sort"><input type="hidden" name="recipeseasonings[@y].recipeseasoningid" value="@recipeseasoning.recipeseasoningid"><input type="text" name="recipeseasonings[@y].title" class="form-control" value="@recipeseasoning.title"></td>
                                                        <td><input type="text" name="recipeseasonings[@y].value" class="text-center form-control" value="@recipeseasoning.value"></td>
                                                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>
                                                    </tr>
                                                        y++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="hb_3">

                                        <div class="widget-body-toolbar">

                                            <div class="row">

                                                <div class="form-inline">
                                                    <div class="col-sm-12 text-right">
                                                        <a class="btn btn-success btn-labeled" href="javascript:;" id="addsteptable"> <span class="btn-label"><i class="fa fa-plus"></i></span>新增製作步驟 </a>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="table-responsive">

                                            <table class="table table-bordered steptable">
                                                <thead>
                                                    <tr>
                                                        <th width="6%" class="text-center">排序</th>
                                                        <th>標題</th>
                                                        <th width="55%">內容</th>
                                                        <th width="5%" class="text-center">刪除</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                                                        int z = 0;
                                                    }
                                                    @foreach(Recipesteps recipestep in Model.Recipesteps.OrderBy(a => a.sort))
                                                    { 
                                                    <tr>
                                                        <td class="text-center">@recipestep.sort</td>
                                                        <td><input type="hidden" name="recipesteps[@z].sort" value="@recipestep.sort"><input type="hidden" name="recipesteps[@z].recipestepid" value="@recipestep.recipestepid"><input type="text" name="recipesteps[@z].title" class="form-control" value="@recipestep.title"></td>
                                                        <td><textarea name="recipesteps[@z].value" class="form-control" rows="4">@recipestep.value</textarea></td>
                                                        <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>
                                                    </tr>
                                                        z++;
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="hb_4">

                                        <fieldset>

                                            <legend>相關產品</legend>
                                            <select multiple="multiple" size="50" name="productids" id="productids">
                                                @foreach (Products product in productdatas)
                                                {
                                                    <option value="@product.productid" @(Model.Products.Contains(product) ? "selected" : "")>@product.title</option>
                                                }
                                            </select>

                                        </fieldset>

                                    </div>

                                </div>                                        

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a class="btn btn-default" href="@Url.Action("Recipes", "HomeMs", new { p = ViewBag.pageNumber })">
                                                取消
                                            </a>
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-save"></i>
                                                確認
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- WIDGET END -->

        </div>
        <!-- end row -->

    </section>
    <!-- end widget grid -->

</div>
@section scripts {
    <script>
        function recountRow(obj) {
            var countRow = 0;
            obj.find('tr').each(function () {
                $(this).find("td:eq(0)").html(countRow);
                $(this).find("input,textarea").each(function () {
                    $(this).attr("name", $(this).attr("name").replace(/\[(\d+)\]/g, "[" + countRow + "]"));
                    if ($(this).attr("name").search(/(sort)/) != -1) $(this).val(countRow);
                });
                countRow++;
            });
        }

        $(function () {
            $("#addingredient").click(function () {
                var obj = $('.ingredienttable tbody');
                var countRow = obj.find('tr').length;

                var row = '<tr>';
                row += '<td class="text-center">' + countRow + '</td>';
                row += '<td><input type="hidden" name="recipeingredients[' + countRow + '].sort" value="' + countRow + '"><input type="hidden" name="recipeingredients[' + countRow + '].recipeingredientid" value="00000000-0000-0000-0000-000000000000"><input type="text" name="recipeingredients[' + countRow + '].title" class="form-control"></td>';
                row += '<td><input type="text" name="recipeingredients[' + countRow + '].value" class="text-center form-control"></td>';
                row += '<td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>';
                row += '</tr>';

                obj.append(row);
            });

            $("#addseasoning").click(function () {
                var obj = $('.seasoningtable tbody');
                var countRow = obj.find('tr').length;

                var row = '<tr>';
                row += '<td class="text-center">' + countRow + '</td>';
                row += '<td><input type="hidden" name="recipeseasonings[' + countRow + '].sort" value="' + countRow + '"><input type="hidden" name="recipeseasonings[' + countRow + '].recipeseasoningid" value="00000000-0000-0000-0000-000000000000"><input type="text" name="recipeseasonings[' + countRow + '].title" class="form-control"></td>';
                row += '<td><input type="text" name="recipeseasonings[' + countRow + '].value" class="text-center form-control"></td>';
                row += '<td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>';
                row += '</tr>';

                obj.append(row);
            });

            $("#addsteptable").click(function () {
                var obj = $('.steptable tbody');
                var countRow = obj.find('tr').length;

                var row = '<tr>';
                row += '<td class="text-center">' + countRow + '</td>';
                row += '<td><input type="hidden" name="recipesteps[' + countRow + '].sort" value="' + countRow + '"><input type="hidden" name="recipesteps[' + countRow + '].recipestepid" value="00000000-0000-0000-0000-000000000000"><input type="text" name="recipesteps[' + countRow + '].title" class="form-control"></td>';
                row += '<td><textarea name="recipesteps[' + countRow + '].value" class="form-control" rows="4"></textarea></td>';
                row += '<td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del"><i class="fa fa-trash-o"></i></a></td>';
                row += '</tr>';

                obj.append(row);
            });

            $('.table').on('click', '.del', function () {
                var obj = $(this).parent().parent().parent();
                var countRow = obj.find('tr').length;
                if (countRow > 1) {
                    var pobj = $(this).parent().parent();
                    pobj.remove();
                    recountRow(obj);
                }
            });

            $('.table tbody').sortable({
                cursor: 'move',
                start: function (event, ui) { },
                update: function (event, ui) {
                    recountRow(ui.item.parent());
                },
                helper: function (event, ui) {
                    ui.children().each(function () {
                        $(this).width($(this).width());
                    });
                    return ui;
                }
            }).disableSelection();

            var initializeDuallistbox = $('#productids').bootstrapDualListbox({
                nonSelectedListLabel: '未選擇',
                selectedListLabel: '已選擇',
                preserveSelectionOnMove: 'moved',
                moveOnSelect: false
            });
        });
    </script>
}